.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: white;
  transition: all 0.5s;
  background-color: transparent;

  &.scrolled {
    color: black;
    padding: 1rem;
    background-color: #e9e1d6;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

      .logo {
        filter: invert(1);
      }
  }
}

.nav {
  // Add nav styles if needed
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLink {
    transition: color 0.3s;

  &:hover {
    color: rgba(249, 204, 91, 0.653);
  }
}

.reserveButton {
  background-color: rgb(251, 191, 36);
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(245, 158, 11);
  }
}
